:root {
    --dark-blue:#2C3E50;
    --blue: #3A546D;
    --light-green: #1ABC9C;
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-light-green {
    background-color: var(--light-green);
}

.text-light-green {
    color: var(--light-green);
}
/* MAIN */

/* page-hero */ 
.divider {
    width: 40%;
    margin: 0 auto;
}

.divider::after, 
.divider::before {
    content: "";
    display: block;
    max-width: 150px;
    flex-grow: 1;
    height: 1px;
    border: 2px solid;
    border-radius: 999px;
}

.page-hero-image {
    width: 225px;
}

/* contact me */

::placeholder {
    color: black";
}

/* FOOTER */

.footer-top .nav-item a {
    width: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

/* DEBUG */

.debug .row [class^="col"] {
    border: 1px solid green;
}

.debug .page-hero [class^="col"] {
    min-height: 200px;
    background-color: rgb(19, 223, 178);
}

.debug .container {
    border: 3px solid black;
}

.debug .portfolio [class^="col"] {
    min-height: 200px;
    background-color: rgb(255, 200, 21);
}

.debug .about [class^="col"] {
    min-height: 200px;
    background-color: rgb(7, 65, 255);
}

.debug .contact-me [class^="col"] {
    min-height: 200px;
    background-color: #bb10ff;
}

.debug footer [class^="col"] {
    min-height: 200px;
    background-color: #08fff3;
}