:root {
    --dark-blue:#2C3E50;
    --blue: #3A546D;
    --light-green: #1ABC9C;
}


/* DEBUG */

.debug .row [class^="col"] {
    border: 1px solid green;
}

.debug .page-hero [class^="col"] {
    min-height: 200px;
    background-color: rgb(19, 223, 178);
}

.debug .container {
    border: 3px solid black;
}

.debug .portfolio [class^="col"] {
    min-height: 200px;
    background-color: rgb(255, 200, 21);
}

.debug .about [class^="col"] {
    min-height: 200px;
    background-color: rgb(7, 65, 255);
}

.debug .contact-me [class^="col"] {
    min-height: 200px;
    background-color: #bb10ff;
}

.debug footer [class^="col"] {
    min-height: 200px;
    background-color: #08fff3;
}